<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <table>
        <td>
            <a href="about_us">О нас</a>
        </td>
        <td>
            <a href="dogs">Собаки</a>
        </td>
        <td>
            <a href="index">Главная</a>
        </td>
        <td>
            <a href="main">Главное о собаках</a>
        </td>
    </table>

</head>
<body>
{% block misha %}{% endblock %}
    <table>
        <td>
            <a href="about_us.html">О нас</a>
        </td>
        <td>
            <a href="dogs.html">Собаки</a>
        </td>
        <td>
            <a href="index.html">Главная</a>
        </td>
        <td>
            <a href="main.html">Главное о собаках</a>
        </td>
    </table>
</body>
</html>